p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  height: 3000px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(245, 242, 242);
}

.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: 500px;

  background-color: rgb(39, 124, 137);
}

.cart-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  justify-content: left;
}

.picture-of-product {
  margin: 70px;
}

.picture-of-product img {
  width: 300px;
}

.description-of-product p {
  width: 400px;
  margin-bottom: 20px;
}

.itemAdded {
  width: 300px;
  margin-top: 20px;
}

.items-chosen,
.pricing {
  margin-top: 50px;
  margin-left: 50px;
}

.pricing {
  margin-right: 50px;
}

.remove-item {
  align-items: left;
}

.title-of-description {
  width: 400px;
}

.item-plus-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity-from-button {
  width: 40px;
  margin-top: 10px;
  height: 40px;
  text-align: center;
}

.total-amount {
  position: fixed;
  bottom: 40px;
  right: 100px;
  color: white;
  font-size: 30px;
}
